In [1]:
import csv
import json
import mysql.connector

# please modify hw4_config.json to your own config file
with open('hw4_config.json') as f:
    config = json.load(f)

host = config['host']
user = config['user']
passwd = config['passwd']
dbms_student_path = config['dbms_student_path']
new_student_path = config['new_student_path']

mydb = mysql.connector.connect(host=host, user=user, passwd=passwd)
mycursor = mydb.cursor()
mycursor.execute("drop database if exists DB_class")
mycursor.execute("create database DB_class")
mycursor.execute("use DB_class")

## 1-1: Input data into student table

In [2]:
mycursor.execute("drop table if exists student")
mycursor.execute("create table student(身份 varchar(10), 系所 varchar(10), 年級 varchar(10), 學號 varchar(10), 姓名 varchar(40), 信箱 varchar(40), 班別 varchar(40))")

first=True
with open('DBMS_student_list.csv', encoding="utf-8") as csvfile:
    rows = csv.reader(csvfile)
    for row in rows:
        if first==False:
            sql = "insert into student values(%s,%s,%s,%s,%s,%s,%s)"
            val = (row[0],row[1],row[2],row[3],row[4],row[5],row[6])
            mycursor.execute(sql,val)
        first=False

## 1-2: Read the information about yourself

In [3]:
mycursor.execute("select * from student where 學號='R11945005'")
for i in mycursor:
    print(i)

('學生', '生醫電資所', '1', 'R11945005', '郭庭沂 (KUO,TING-YI)', 'r11945005@ntu.edu.tw', '資料庫系統-從SQL到NoSQL (EE5178)')

## 1-3: Update your own value of the "身份" column

In [4]:
mycursor.execute("update student set 身份='特優生' where 學號='R11945005'")

mycursor.execute("select * from student where 學號='R11945005'")
for i in mycursor:
    print(i)

('特優生', '生醫電資所', '1', 'R11945005', '郭庭沂 (KUO,TING-YI)', 'r11945005@ntu.edu.tw', '資料庫系統-從SQL到NoSQL (EE5178)')

## 1-4: Insert three new students

In [5]:
first=True
with open('new_student_list.csv', encoding="utf-8") as csvfile:
    rows = csv.reader(csvfile)
    for row in rows:
        if first==False:
            sql = "insert into student values(%s,%s,%s,%s,%s,%s,%s)"
            val = (row[0],row[1],row[2],row[3],row[4],row[5],row[6])
            mycursor.execute(sql,val)
        first=False

## 1-5: Prepared select statement

In [6]:
mydb.cursor(prepared=True)

stmt = "select * from student where 學號=%s"
mycursor.execute(stmt,('R10123456',))
for i in mycursor:
    print(i)
mycursor.execute(stmt,('B09987653',))
for i in mycursor:
    print(i)
mycursor.execute(stmt,('R11123001',))
for i in mycursor:
    print(i)

('旁聽生', '電機所', '2', 'R10123456', '小紅', 'r10123456@ntu.edu.tw', '資料庫系統-從SQL到NoSQL (EE5178)')
('學生', '物理系', '3', 'B09987653', '小黃', 'b09987653@ntu.edu.tw', '資料庫系統-從SQL到NoSQL (EE5178)')
('觀察者', '電信所', '1', 'R11123001', '小綠', 'r11123001@ntu.edu.tw', '資料庫系統-從SQL到NoSQL (EE5178)')

## 1-6: Group information

In [7]:
mycursor.execute("alter table student add column final_group int default 0")
mycursor.execute("alter table student add column final_captain int default 0")
mycursor.execute("update student set final_group=8 where 學號 in ('R10945002','R11945005','R11945044','R11945018')")
mycursor.execute("update student set final_captain=1 where 學號='R10945002'")
mycursor.execute("select * from student where final_group=8")
for i in mycursor:
    print(i)

mydb.commit()

('學生', '生醫電資所', '1', 'R10945002', '林柏詠 (LIN, BO-YONG)', 'r10945002@ntu.edu.tw', '資料庫系統-從SQL到NoSQL (EE5178)', 8, 1)
('特優生', '生醫電資所', '1', 'R11945005', '郭庭沂 (KUO,TING-YI)', 'r11945005@ntu.edu.tw', '資料庫系統-從SQL到NoSQL (EE5178)', 8, 0)
('學生', '生醫電資所', '1', 'R11945018', '曾于瑄 (YU-HSUAN TSENG)', 'r11945018@ntu.edu.tw', '資料庫系統-從SQL到NoSQL (EE5178)', 8, 0)
('學生', '生醫電資所', '1', 'R11945044', '張瑜倢 (ZHANG, YU-JIE)', 'r11945044@ntu.edu.tw', '資料庫系統-從SQL到NoSQL (EE5178)', 8, 0)