# Access database from Python mysql-connector

* (if you haven't done so) install jupyter and learn how to use jupyter
* install python SQL access modules
    * to access mysql: pip install mysql-connector-python==8.0.33

In [1]:
# Usage I: Connect to mySQL without using specific databases
import mysql.connector


mydb = mysql.connector.connect(host="127.0.0.1", user="root", passwd="0000")

mycursor = mydb.cursor()

print("Before show databases")
mycursor.execute("show databases")
for i in mycursor:
    print(i)
    
print("Before show tables")
mycursor.execute("use test")
mycursor.execute("show tables")
for i in mycursor:
    print(i)

Before show databases
('c13',)
('course',)
('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test',)
('world',)
Before show tables

In [3]:
mycursor.execute("use sakila")
mycursor.execute("select * from actor limit 5")
for i in mycursor:
    print(i)

(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33))
(3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33))

In [4]:
# Usage II: connect to mySQL and use a specific database directly 
import mysql.connector

print("Before mysql")
mydbcon = mysql.connector.connect(host="localhost", user="root", passwd="1234", database="sakila" )

mycursor = mydbcon.cursor()
mycursor.execute("select * from actor limit 5")

# Then you can consume your data in a for loop
for i in mycursor:
    print(i)

Before mysql
(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33))
(3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33))

In [5]:
# you can also fetch the rows one by one by yourself
mycursor.execute("select * from actor limit 10")
one_row = mycursor.fetchone()
print(one_row)

(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))

In [6]:
# you can also put all your results into a big data area, and do the processing your self.
# However, this may results in the copying of large amount of data, and waste of large 
# memory area if the data you retrieve from database is big.  
# So use this very careful, only if you do what you are doing

# clean up all data in the cursor, if any left
for _ in mycursor:
    pass

mycursor.execute("select * from actor limit 10")
result = mycursor.fetchall()
print(result)

[(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33)), (2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33)), (3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33)), (4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33)), (5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33)), (6, 'BETTE', 'NICHOLSON', datetime.datetime(2006, 2, 15, 4, 34, 33)), (7, 'GRACE', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33)), (8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33)), (9, 'JOE', 'SWANK', datetime.datetime(2006, 2, 15, 4, 34, 33)), (10, 'CHRISTIAN', 'GABLE', datetime.datetime(2006, 2, 15, 4, 34, 33))]